.widget {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    height: calc(100% - 20px);
    font-family: var(--ts-widget-font-family, 'Roboto', 'Segoe UI', BlinkMacSystemFont, system-ui, -apple-system);
    background-color: var(--ts-widget-bg-color, #424242);
    color: var(--ts-widget-fg-color, white);
}

.button {
    cursor: pointer;
    filter: var(--ts-widget-img-btn-filter, invert(1));
    align-self: center;
}

.md-switch-container {
    margin: 10px;
}

#switched-oid {
    color: var(--ts-widget-oid-fg-color, #a5a5a5);
    margin-bottom: 10px;
    font-size: var(--ts-widget-oid-font-size, --ts-widget-font-size);
}

.heading div {
    display: flex;
}

.heading .view h1 {
    font-size: var(--ts-widget-name-font-size, 2em);
    color: var(--ts-widget-name-fg-color, --ts-widget-oid-fg-color);
    margin-bottom: 5px;
    margin-top: 0px;
    width: calc(100% - 30px);
}

.heading .edit input {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    width: calc(100% - 30px);
}

#add img {
    float: right;
}

.triggers {
    overflow-y: scroll;
    padding-right: 5px;
}
.triggers::-webkit-scrollbar-track
{
    border-radius: 10px;
}

.triggers::-webkit-scrollbar
{
    width: 4px;
    background-color: var(--ts-widget-bg-color, #424242);
}

.triggers::-webkit-scrollbar-thumb
{
    border-radius: 4px;
    background-color: var(--ts-widget-fg-color, white);
}

button.material-button{
    margin: 10px;
    width: 110px;
}

.manual-container.multiple p {
    margin-bottom: 5px;
}
